/**
* @author 	Ivan Zhou
* @date 	2014-2-14
* @email	a@ivanzhou.com
* @info    reset + page css
* ******** From SASS *********
*/
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p, th, td, header, footer, section {
  margin: 0;
  padding: 0;
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0; }

em, strong, th {
  font-style: normal;
  font-weight: normal; }

ul, ol, li {
  list-style: none; }

th {
  text-align: left; }

h1, h2, h3, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-size: 100%; }

/* custormer reset */
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

body {
  font: normal 12px/1.5 '\5FAE\8F6F\96C5\9ED1',tahoma,arial,\5b8b\4f53; }

h1, h2, h3 {
  font-family: \5FAE\8F6F\96C5\9ED1,Simsun,arial; }

h1 {
  font-size: 18px; }

h2 {
  font-size: 14px; }

strong {
  font-weight: bold; }

input, textarea {
  resize: none;
  outline: none;
  -webkit-appearance: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

::-webkit-input-placeholder {
  /* WebKit browsers placeholder color */
  color: #ccc; }

.fr {
  float: right; }

.fl {
  float: left; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

.h5-disable {
  background: #999999 !important;
  cursor: default !important; }

.chat-module-recharge .gl-submit, .chat-module-guess .guess-launch .gl-submit {
  width: 100%;
  height: 35px;
  font: normal 14px/35px \5FAE\8F6F\96C5\9ED1;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  background-color: #0263f4;
  display: block; }

.main-block::-webkit-scrollbar, .msg-block::-webkit-scrollbar, .chat-module-race::-webkit-scrollbar, .h5-article-view .view-block.scroll-show::-webkit-scrollbar {
  width: 8px;
  background: #222; }
.main-block::-webkit-scrollbar-thumb, .msg-block::-webkit-scrollbar-thumb, .chat-module-race::-webkit-scrollbar-thumb, .h5-article-view .view-block.scroll-show::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 15px; }
.main-block::-webkit-scrollbar-button, .msg-block::-webkit-scrollbar-button, .chat-module-race::-webkit-scrollbar-button, .h5-article-view .view-block.scroll-show::-webkit-scrollbar-button {
  display: none; }
.main-block::-webkit-scrollbar-track-piece, .msg-block::-webkit-scrollbar-track-piece, .chat-module-race::-webkit-scrollbar-track-piece, .h5-article-view .view-block.scroll-show::-webkit-scrollbar-track-piece {
  background: transparent; }

.content {
  padding: 20px 0;
  background: #2b2b2b; }

.grid-1280 .col-2 {
  margin-left: 960px;
  _margin-left: 0;
  _float:left;
  width: 320px;  /*搜狗bug【WEB-3564】 - 4.0.2.6324 */
}

.chat-row,
.col-1,
.col-2 {
  height: 100%;
  background:#101010;
  position: relative;
  overflow: hidden;
}

.chat-row {
  width: 960px;
  margin: 0 auto; }

.col-1 {
  width: 720px;
  float: left;
  background-color: #000; }

.h5-application2 {
  width: 48px;
  height: 55px;
  position: absolute;
  top: 20px;
  left: -70px; }
  .h5-application2.current a {
    opacity: 1; }
    .h5-application2.current a:nth-child(2) {
      right: 58px; }
    .h5-application2.current a:nth-child(3) {
      right: 116px; }
    .h5-application2.current a:nth-child(4) {
      right: 174px; }
    .h5-application2.current a:nth-child(5) {
      right: 232px; }
    .h5-application2.current a:nth-child(6) {
      right: 290px; }
    .h5-application2.current a:nth-child(7) {
      right: 348px; }
  .h5-application2 > a {
    width: 46px;
    height: 53px;
    display: block;
    background: #090909;
    border: 1px solid #3f3f3f;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity .5s,right .5s;
    -webkit-transition: opacity .5s,right .5s;
    z-index: 2; }
    .h5-application2 > a:active {
      background-color: #0066ff;
      border-color: #0066ff; }
    .h5-application2 > a:nth-child(1) {
      opacity: 1;
      z-index: 3; }
      .h5-application2 > a:nth-child(1) em {
        background-position: 0 -476px; }
  .h5-application2 em {
    width: 22px;
    height: 22px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    margin: 7px auto 0;
    background: url('http://static9.pplive.cn/pub/flagment/v_20140506153550/modules/liaoliao/images/icon-s59076d212c.png') no-repeat; }
  .h5-application2 span {
    display: block;
    text-align: center;
    color: #fff;
    line-height: 22px; }

.col-2 {
  min-width: 240px;
  max-width: 320px;
  margin-left: 720px;
  background-color: #101010; }

.msg-block {
  height: 452px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 12px 0 15px; }
  .msg-block .bubble {
    margin-bottom: 10px; }
  .msg-block .left {
    width: 35px;
    height: 35px;
    padding-top: 4px;
    display: block;
    overflow: hidden;
    float: left; }
    .msg-block .left img {
      border-radius: 100%; }
  .msg-block .right {
    margin-left: 40px;
    color: #fff;
    position: relative; }
  .msg-block .name {
    color: #999;
    padding-left: 5px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .msg-block .name.skin-1 {
      color: #f76600;
      font-family: \5FAE\8F6F\96C5\9ED1; }
  .msg-block .msg {
    font-size: 14px;
    padding: 3px 6px 4px;
    border-radius: 5px;
    margin-left: 5px;
    position: relative;
    background-color: #333;
    display: inline-block;
    }
    .msg-block .msg > p {
      word-break: break-all; }
      .msg-block .msg > p > img {
        vertical-align: middle; }
    .msg-block .msg .img-list {
      padding: 5px 0;
      overflow: hidden; }
      .msg-block .msg .img-list > a {
        width: 48px;
        height: 48px;
        margin: 0 auto;
        border: solid #fff;
        border-width: 0 1px 1px 0;
        background: #000;
        overflow: hidden;
        float: left;
        position: relative;
        display: block; }
      .msg-block .msg .img-list img {
        display: block; }
    .msg-block .msg.skin-1,.msg-block .msg.skin-0 {
      background-color: #fff;
      color: #000; }
      .msg-block .msg.skin-1:before,.msg-block .msg.skin-0:before {
        border-color: #fff transparent transparent #fff; }
    .msg-block .msg.skin-2 {
      background-color: #0263f4;
      color: #fff; }
      .msg-block .msg.skin-2:before {
        border-color: #0263f4 transparent transparent #0263f4; }
    .msg-block .msg.skin-guess {
      color: #666; }
      .msg-block .msg.skin-guess > p:nth-child(1) {
        color: #000; }
      .msg-block .msg.skin-guess .btn-skin-1 {
        padding: 3px 0; }
        .msg-block .msg.skin-guess .btn-skin-1 > a {
          height: 24px;
          border-radius: 4px;
          text-align: center;
          color: #fff;
          font: normal 14px/24px \5FAE\8F6F\96C5\9ED1;
          background: #f76600;
          display: block; }
    .msg-block .msg:before {
      content: '';
      font-size: 0;
      position: absolute;
      top: 8px;
      left: -4px;
      border-width: 4px;
      border-color: #333 transparent transparent #333;
      border-style: solid dashed dashed solid;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .msg-block .report {
    padding: 3px 8px 4px;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: -12px;
    left: 60px;
    background-color: #f76600;
    color: #fff;
    font-size: 14px; }
    .msg-block .report:before {
      content: '';
      font-size: 0;
      position: absolute;
      bottom: -4px;
      left: 18px;
      border-width: 4px;
      border-color: #f76600 transparent transparent #f76600;
      border-style: solid dashed dashed solid;
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      transform: rotate(225deg); }
  .msg-block .split {
    text-align: center; }
    .msg-block .split span {
      color: #999;
      margin: 5px 0 5px 40px;
      padding: 0 5px;
      border-radius: 10px;
      background-color: #080808;
      font-family: arial;
      font-size: 10px;
      display: inline-block; }

.h5-application1 {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 45px;
  right: 15px;
  z-index: 10; }
  .h5-application1.current a {
    opacity: 1; }
    .h5-application1.current a:nth-child(2) {
      top: 44px; }
    .h5-application1.current a:nth-child(3) {
      top: 88px; }
    .h5-application1.current a:nth-child(4) {
      top: 132px; }
    .h5-application1.current a:nth-child(5) {
      top: 176px; }
    .h5-application1.current a:nth-child(6) {
      top: 220px; }
    .h5-application1.current a:nth-child(7) {
      top: 264px; }
  .h5-application1 a {
    width: 34px;
    height: 34px;
    border: 1px solid #3f3f3f;
    border-radius: 4px;
    display: block;
    background: #090909;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity .5s,top .5s;
    -webkit-transition: opacity .5s,top .5s;
    opacity: 0; }
    .h5-application1 a:active, .h5-application1 a.active {
      border-color: #0066ff;
      background: #0066ff; }
    .h5-application1 a em {
      width: 22px;
      height: 22px;
      display: block;
      margin: 5px auto 0;
      text-indent: -9999px;
      overflow: hidden;
      background: url('http://static9.pplive.cn/pub/flagment/v_20140506153550/modules/liaoliao/images/icon-s59076d212c.png') no-repeat; }
    .h5-application1 a.m1 em {
      background-position: 0 -306px; }
    .h5-application1 a.m1-1 em {
      background-position: 0 -284px; }
    .h5-application1 a.m2 em {
      background-position: 0 -328px; }
    .h5-application1 a.m3 em {
      background-position: 0 -262px; }
    .h5-application1 a.m4 em {
      background-position: 0 -414px; }
    .h5-application1 a:nth-child(1) {
      z-index: 2;
      opacity: 1; }

.h5-chat-user {
  width: 44px;
  height: 38px;
  position: absolute;
  top: 45px;
  right: 15px;
  z-index: 11;
  background: url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/msg.png) no-repeat; }
  .h5-chat-user em {
    min-width: 12px;
    padding: 0 4px 0 3px;
    color: #fff;
    font-family: arial;
    text-align: center;
    background-color: #cc0000;
    border-radius: 45%;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: -10px; }

.tab-view.skin-1 {
  padding: 8px 20px; }
  .tab-view.skin-1 a {
    width: 94px;
    height: 34px;
    border-radius: 4px;
    border: none;
    font: normal 16px/34px \5FAE\8F6F\96C5\9ED1;
    background: #0166ff; }
    .tab-view.skin-1 a:nth-child(1) {
      margin-right: 6px; }
    .tab-view.skin-1 a:nth-child(2) {
      margin-left: 6px; }
    .tab-view.skin-1 a.active, .tab-view.skin-1 a:active {
      border: none;
      background: #0166ff; }
.tab-view a {
  width: 49%;
  height: 48px;
  _height:34px;
  _padding-top: 14px;
  font: normal 16px/48px \5FAE\8F6F\96C5\9ED1;
  text-align: center;
  color: #666;
  border-top: 2px solid #333;
  background: #333;
  margin-bottom: -1px;
  display: block;
  overflow-y: hidden;
  float: left; }
  .tab-view a:active,.tab-view a:hover{
    color: #fff;
    background-color: #222;
  }
  .tab-view a.active {
    color: #fff;
    border-top: 2px solid #0066ff;
  }
  .tab-view a:hover {
    text-decoration: none; }
.tab-view .tab-ico {
  width: 18px;
  height: 17px;
  margin-right: 4px;
  vertical-align: -3px;
  *vertical-align: middle;
  display: inline-block;
  background: url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/ll-tab1.png) no-repeat;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/ll-tab1.png"); }
.tab-view .tab-pro-list {
  background: url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/ll-tab2.png) no-repeat 1px 0;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/ll-tab2.png"); }

.chat-nl-block1 {
  height: 490px;
  background: #101010 url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/not_login.png) no-repeat center;
  overflow: hidden; }

.chat-nl-block2 {
  margin-top: -95px; }
  .chat-nl-block2 > a {
    width: 160px;
    height: 40px;
    margin: 0 auto;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font: normal 18px/40px \5FAE\8F6F\96C5\9ED1;
    background-color: #f86601;
    display: block; }

.chat-room-block {
  height: 36px;
  position: relative;
  z-index: 1000; }
  .chat-room-block.chat-notice-block .chat-room-list > div {
    background: #333; }
  .chat-room-block.chat-notice-block .arw-left {
    width: 32px;
    height: 35px;
    left: 0;
    top: 0;
    background: #333; }
    .chat-room-block.chat-notice-block .arw-left:active {
      background: #0263f4; }
    .chat-room-block.chat-notice-block .arw-left:before {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      border: solid #fff;
      border-width: 2px 0 0 2px;
      margin: -8px 0 0 -4px;
      top: 50%;
      left: 50%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .chat-room-block.current .chat-room-list {
    height: auto; }
  .chat-room-block.current .arw-down {
    display: none; }
  .chat-room-block .arw-down, .chat-room-block .arw-left {
    width: 12px;
    height: 7px;
    background: url('http://static9.pplive.cn/pub/flagment/v_20140506153550/modules/liaoliao/images/icon-s59076d212c.png') no-repeat;
    background-position: 0 -498px;
    display: block;
    overflow: hidden;
    position: absolute;
    right: 12px;
    top: 15px;
    z-index: 1001; }
  .chat-room-block .arw-left {
    height: 20px;
    background-position: 0 -436px;
    right: inherit;
    top: 8px;
    left: 10px; }

.chat-room-list {
  height: 36px;
  overflow: hidden;
  position: relative; }
  .chat-room-list > div {
    height: 35px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #403f3e; }
    .chat-room-list > div:active p, .chat-room-list > div.active p {
      color: #f76600; }
    .chat-room-list > div > p {
      margin: 0 35px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #fff;
      font: normal 16px/35px \5FAE\8F6F\96C5\9ED1;
      overflow: hidden; }
  .chat-room-list .arw-top {
    height: 24px; }
    .chat-room-list .arw-top > span {
      width: 29px;
      height: 11px;
      margin: 6px auto 0;
      background: url('http://static9.pplive.cn/pub/flagment/v_20140506153550/modules/liaoliao/images/icon-s59076d212c.png') no-repeat;
      background-position: 0 -372px;
      display: block;
      overflow: hidden; }

.message-block {
  background-color: #222; }
  .message-block .write-block {
    padding: 10px; }
    .message-block .write-block.current p {
      display: none; }
    .message-block .write-block.current textarea {
      width: 100%;
      height: 95px;
      border: none;
      line-height: 25px;
      color: #fff;
      margin: 0;
      padding: 0;
      background: none;
      display: block; }
    .message-block .write-block.current .input {
      height: 95px;
      padding: 0; }
  .message-block .layer-l {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background: #999;
    display: block;
    float: left;
    position: relative; }
    .message-block .layer-l:before, .message-block .layer-l:after {
      content: '';
      position: absolute;
      z-index: 101;
      width: 16px;
      height: 16px;
      border: solid #dfdfdf;
      border-width: 0 2px 0 0;
      margin: -8px 0 0 -8px;
      top: 50%;
      left: 20%;
      background: none; }
    .message-block .layer-l:after {
      width: 16px;
      height: 16px;
      border-width: 0 0 2px 0;
      left: 50%;
      top: 20%; }
  .message-block .layer-r {
    width: 40px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    background: #0363f5 url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/ll-hj.png) no-repeat center;
    float: right; }
  .message-block .input {
    height: 30px;
    padding-left: 10px;
    margin: 0 43px 0 33px;
    cursor: text;
    color: #858585;
    line-height: 30px;
    border-radius: 4px;
    background: #525252;
    display: block; }
  .message-block .write-block textarea {
    display: none; }
.app-block {
  background-color: #222;
  border-top: 1px solid #303030; }
  .app-block > div {
    width: 60px;
    float: left; }
    .app-block > div > span {
      width: 30px;
      height: 30px;
      margin: 10px 15px;
      display: block;
      overflow: hidden; }
    .app-block > div .face {
      background: url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/app_1.png) no-repeat 2px 3px; }
    .app-block > div .picture {
      background: url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/app_2.png) no-repeat 1px 4px; }
    .app-block > div .article {
      background: url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/app_3.png) no-repeat 1px 0px; }
    .app-block > div .quiz {
      background: url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/app_4.png) no-repeat 1px 3px; }
    .app-block > div:active, .app-block > div .active {
      background-color: #0363f5; }

.h5-facebox {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: 1000;
  padding: 10px 12px 10px 13px;
  width: 238px;
  background-color: #fff;
  border: 1px solid #d4d4d4; }
  .h5-facebox li {
    width: 30px;
    height: 30px;
    padding: 2px;
    line-height: 30px;
    float: left;
    text-align: center; }
    .h5-facebox li img {
      cursor: pointer;
      vertical-align: middle; }

.h5-pop-layer {
  width: 620px;
  background: #fff;
  position: fixed;
  _position:absolute;
  z-index: 1001;
  left: 50%;
  margin-left: -310px;
  top: 120px; }
  .h5-pop-layer .h5-title {
    height: 50px;
    padding-left: 20px;
    position: relative;
    background: #ccc; }
    .h5-pop-layer .h5-title .h5-pop-text {
      font: normal 22px/50px \5FAE\8F6F\96C5\9ED1; }
    .h5-pop-layer .h5-title .close-compatibility {
      background: url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/ll-close.png) no-repeat; }
      .h5-pop-layer .h5-title .close-compatibility:before, .h5-pop-layer .h5-title .close-compatibility:after {
        display: none; }
    .h5-pop-layer .h5-title .h5-pop-close {
      width: 30px;
      height: 30px;
      display: block;
      position: absolute;
      overflow: hidden;
      right: 10px;
      top: 10px;
      cursor: pointer; }
      .h5-pop-layer .h5-title .h5-pop-close:before, .h5-pop-layer .h5-title .h5-pop-close:after {
        content: '';
        width: 200px;
        height: 200px;
        position: absolute;
        border: 1px solid #999;
        top: -30px;
        left: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .h5-pop-layer .h5-title .h5-pop-close:after {
        top: -140px; }
      .h5-pop-layer .h5-title .h5-pop-close.skin-1:before, .h5-pop-layer .h5-title .h5-pop-close.skin-1:after {
        border-color: #fff; }
  .h5-pop-layer .h5-show-img {
    position: relative; }
    .h5-pop-layer .h5-show-img > div {
      width: 460px;
      height: 320px;
      background: url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/loadding.gif) no-repeat center;
      margin: 0 auto;
      overflow: hidden;
      position: relative; }
  .h5-pop-layer .next, .h5-pop-layer .prev {
    width: 0px;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 30px solid #fff;
    position: absolute;
    top: 130px; }
  .h5-pop-layer .next {
    right: 0; }
  .h5-pop-layer .prev {
    border-bottom: 30px solid transparent;
    /* left arrow slant */
    border-top: 30px solid transparent;
    /* right arrow slant */
    border-right: 30px solid #fff;
    /* bottom, add background color here */
    border-left: none;
    left: 0; }
  .h5-pop-layer .chat-face {
    width: 28px;
    height: 28px;
    background: url(http://static9.pplive.cn/pub/flagment/v_20140506153550/modules/liaoliao/images/icon-s59076d212c.png) no-repeat;
    background-position: 0 -140px;
    display: block; }
    .h5-pop-layer .chat-face:active {
      opacity: .7; }
  .h5-pop-layer .blue-btn {
    width: 72px;
    height: 30px;
    text-align: center;
    background-color: #0066ff;
    border-radius: 2px;
    color: #fff;
    font: normal 14px/30px \5FAE\8F6F\96C5\9ED1;
    display: block; }

.chat-module-recharge .tab-view {
  height: 32px;
  padding: 20px 20px 0; }
  .chat-module-recharge .tab-view > a {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #0066ff;
    background-color: #101010; }
    .chat-module-recharge .tab-view > a:nth-child(1) {
      border-radius: 2px 0 0 2px; }
    .chat-module-recharge .tab-view > a:nth-last-child(1) {
      border-radius: 0 2px 2px 0; }
    .chat-module-recharge .tab-view > a:active, .chat-module-recharge .tab-view > a.active {
      background-color: #0066ff; }
.chat-module-recharge .line-arrow {
  border-top: 1px solid #404040;
  margin: 15px 0 10px;
  position: relative; }
  .chat-module-recharge .line-arrow.row2-1:before {
    left: 29%; }
  .chat-module-recharge .line-arrow.row2-2:before {
    left: 70%; }
  .chat-module-recharge .line-arrow:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: solid #404040;
    border-width: 1px 0 0 1px;
    top: -7px;
    left: 70%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #101010; }
.chat-module-recharge .recharge-cont {
  padding: 0 18px; }
  .chat-module-recharge .recharge-cont > div > p {
    color: #fff; }
  .chat-module-recharge .recharge-cont input {
    width: 94%;
    height: 30px;
    padding: 0 3%;
    margin-top: 10px;
    border-radius: 4px; }
  .chat-module-recharge .recharge-cont .amount {
    padding: 0 3px;
    color: #f76600;
    font-size: 14px;
    font-family: \5FAE\8F6F\96C5\9ED1; }
  .chat-module-recharge .recharge-cont .rc-left {
    line-height: 30px;
    float: left; }
  .chat-module-recharge .recharge-cont .rc-btn {
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    text-align: center;
    font: normal 14px/30px \5FAE\8F6F\96C5\9ED1;
    background-color: #f76600;
    color: #fff;
    display: inline-block;
    float: right; }
.chat-module-recharge .recharge-btn {
  padding: 0 18px; }
.chat-module-recharge .gl-submit {
  margin-top: 10px; }

.chat-module-btn .mod-blue {
  padding: 10px 20px;
  background-color: #222; }
  .chat-module-btn .mod-blue > a {
    height: 35px;
    border-radius: 4px;
    background-color: #0263f4;
    text-align: center;
    color: #fff;
    font: normal 14px/35px \5FAE\8F6F\96C5\9ED1;
    display: block; }

.chat-module-race ::-webkit-scrollbar {
  background-color: #333; }
.chat-module-race ::-webkit-scrollbar-thumb {
  background-color: #666; }
.chat-module-race .race-list > a {
  height: 42px;
  padding: 8px 0 10px 60px;
  display: block;
  position: relative; }
  .chat-module-race .race-list > a > p {
    color: #fff;
    font-size: 14px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 30px;
    overflow: hidden; }
    .chat-module-race .race-list > a > p:nth-child(1) {
      color: #999;
      font-size: 12px; }
  .chat-module-race .race-list > a:active {
    background-color: #0263f4; }
    .chat-module-race .race-list > a:active p {
      color: #fff; }
    .chat-module-race .race-list > a:active:after {
      border-color: #fff; }
  .chat-module-race .race-list > a:before {
    content: '';
    width: 27px;
    height: 27px;
    position: absolute;
    top: 15px;
    left: 20px; }
  .chat-module-race .race-list > a:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: solid #8f8f8f;
    border-width: 1px 0 0 1px;
    top: 22px;
    right: 20px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg); }
.chat-module-race .race-list .football:before {
  background: url('http://static9.pplive.cn/pub/flagment/v_20140506153550/modules/liaoliao/images/icon-s59076d212c.png') no-repeat;
  background-position: 0 -81px; }
.chat-module-race .race-list .basketball:before {
  background: url('http://static9.pplive.cn/pub/flagment/v_20140506153550/modules/liaoliao/images/icon-s59076d212c.png') no-repeat;
  background-position: 0 -54px; }

.h5-chat-login .qr-login {
  padding: 18px 30px 30px;
  position: relative;
  font-family: \5FAE\8F6F\96C5\9ED1; }
.h5-chat-login .qr-code {
  margin: 22px 245px 0 0; }
.h5-chat-login .qr-phone {
  width: 230px;
  height: 285px;
  margin: 10px 30px 0 0;
  _display: inline-block;
  float: right;
  position: relative;
  background: url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/chat-login.png) no-repeat;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/chat-login.png"); }
.h5-chat-login .qr-go {
  color: #f76600;
  font-size: 14px;
  position: absolute;
  bottom: 32px;
  _bottom: 78px;
  right: 20px; }
.h5-chat-login .qr-code-img {
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 auto; }
.h5-chat-login .qr-code-des {
  padding: 15px 0 10px;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #ccc; }
.h5-chat-login .blue-btn {
  width: 140px;
  _width: 120px;
  height: 50px;
  margin-left: 10px;
  _display: inline-block;
  line-height: 50px;
  float: left; }
  .h5-chat-login .blue-btn:active, .h5-chat-login .blue-btn.current {
    background-color: #333; }
.h5-chat-login .qr-download {
  padding: 25px 0 20px;
  font-size: 16px;
  text-align: center; }

.h5-phone-bind {
  padding: 60px; }
  .h5-phone-bind .h5-phone .h5-input {
    width: 300px; }
  .h5-phone-bind .h5-phone label {
    width: 22px;
    height: 31px;
    top: 14px;
    left: 18px;
    background-position: 0 -383px; }
  .h5-phone-bind .h5-row-block {
    margin-bottom: 20px;
    position: relative; }
    .h5-phone-bind .h5-row-block:nth-child(1) label {
      width: 22px;
      height: 31px;
      top: 14px;
      left: 18px;
      background-position: 0 -383px; }
    .h5-phone-bind .h5-row-block .h5-phone {
      width: 300px; }
    .h5-phone-bind .h5-row-block .key {
      width: 33px;
      height: 33px;
      top: 15px;
      left: 9px;
      background-position: 0 -108px; }
      .h5-phone-bind .h5-row-block .pwd {
      width: 32px;
      height: 32px;
      top: 15px;
      left: 9px;
      background-position: 0 -511px; }
  .h5-phone-bind .btn-skin-2 {
    height: 70px;
    margin-bottom: 0; }
    .h5-phone-bind .btn-skin-2 a {
      width: 100%;
      height: 70px;
      background: #f76600;
      border-radius: 4px;
      color: #fff;
      text-align: center;
      line-height: 70px;
      font-size: 22px;
      display: block; }
  .h5-phone-bind .h5-input-text {
    font-size: 18px;
    padding-bottom: 10px; }
  .h5-phone-bind .h5-input {
    width: 436px;
    height: 58px;
    padding-left: 62px;
    border: 1px solid #ccc;
    position: relative;
    float: left; }
  .h5-phone-bind .h5-captcha {
    _height: 60px;
    margin-left: 372px; }
    .h5-phone-bind .h5-captcha a {
      width: 100%;
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      color: #fff;
      background: #0f82fe;
      text-align: center;
      display: block; }
  .h5-phone-bind label {
    float: left;
    background: url(http://static9.pplive.cn/pub/flagment/v_20140506153550/modules/liaoliao/images/icon-s59076d212c.png) no-repeat;
    position: absolute;
    display: block; }
  .h5-phone-bind .phone-bind-input {
    width: 100%;
    height: 32px;
    line-height: 32px;
    margin-top: 12px;
    font-size: 18px; }

.h5-phone-bind .place-holder{
    color: #ccc;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
}
.h5-img-upload .place-holder{

}
.h5-img-upload .pa-des .place-holder{

}


.h5-img-upload {
  padding: 30px 100px;
  background: #f0f0f0; }
  .h5-img-upload input[type=file] {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 102; }
  .h5-img-upload .add-imgs span {
    width: 176px;
    height: 156px;
    margin: 0 auto 18px;
    border: 7px dashed #dfdfdf;
    display: block;
    text-indent: -9999px;
    position: relative; }
    .h5-img-upload .add-imgs span:before, .h5-img-upload .add-imgs span:after {
      content: '';
      width: 24px;
      height: 52px;
      position: absolute;
      border: solid #dfdfdf;
      border-width: 0 4px 0 0;
      top: 52px;
      left: 62px; }
    .h5-img-upload .add-imgs span:after {
      width: 52px;
      height: 24px;
      border-width: 0 0 4px 0; }
  .h5-img-upload .imgs-des input[type=text] {
    width: 98% !important;
    height: 42px;
    padding-left: 2%;
    line-height: 42px;
    font-size: 16px;
    border: 1px solid #ccc; }
  .h5-img-upload .imgs-btn {
    margin: 25px 60px 0; }
    .h5-img-upload .imgs-btn .current {
      background: #0066ff;
      margin-left: 3%;
      _margin-left: 2%; }
    .h5-img-upload .imgs-btn a {
      width: 47%;
      height: 50px;
      background: #333;
      border-radius: 4px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      line-height: 50px;
      display: inline-block;
      overflow: hidden; }
      .h5-img-upload .imgs-btn a:nth-child(1) {
        margin-right: 3%; }
      .h5-img-upload .imgs-btn a:nth-child(2) {
        background: #0066ff;
        margin-left: 3%; }

.h5-add-img {
  padding: 30px 90px; }
  .h5-add-img .imgs-des input[type=text] {
    width: 100%; }
  .h5-add-img .imgs-list.del a:before {
    content: ''; }
  .h5-add-img .imgs-list.del span {
    display: block; }
  .h5-add-img .imgs-list a {
    width: 80px;
    height: 80px;
    margin: 0 0 10px 10px;
    overflow: hidden;
    float: left;
    display: block;
    position: relative; }
    .h5-add-img .imgs-list a:nth-child(1), .h5-add-img .imgs-list a:nth-child(6) {
      margin-left: 0; }
    .h5-add-img .imgs-list a:before {
      content: none;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 3px;
      right: 3px;
      background: url(http://static9.pplive.cn/pub/flagment/v_20140506153550/modules/liaoliao/images/icon-s59076d212c.png) no-repeat;
      background-position: 0 -168px;
      z-index: 101; }
    .h5-add-img .imgs-list span {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      right: 0;
      z-index: 100;
      transition: width .3s;
      -webkit-transition: width .3s;
      display: none; }
    .h5-add-img .imgs-list img {
      position: absolute;
      display: block; }
  .h5-add-img .imgs-list .h5-fail:before {
    background-position: 0 -193px; }
  .h5-add-img .imgs-list .h5-add, .h5-add-img .imgs-list .h5-del {
    width: 72px;
    height: 72px;
    border: 4px dashed #dfdfdf;
    background: none; }
    .h5-add-img .imgs-list .h5-add:before, .h5-add-img .imgs-list .h5-add:after, .h5-add-img .imgs-list .h5-del:before, .h5-add-img .imgs-list .h5-del:after {
      content: '';
      position: absolute;
      z-index: 101;
      width: 21px;
      height: 50px;
      border: solid #dfdfdf;
      border-width: 0 8px 0 0;
      margin: -25px 0 0 -25px;
      top: 50%;
      left: 50%;
      background: none; }
    .h5-add-img .imgs-list .h5-add:after, .h5-add-img .imgs-list .h5-del:after {
      width: 50px;
      height: 21px;
      border-width: 0 0 8px 0; }
  .h5-add-img .imgs-list .h5-del:before {
    content: none !important; }

.h5-pub-article .pa-title .article-input, .h5-pub-article .pa-des textarea ,.h5-img-upload .place-holder,.h5-pub-article .pa-title .place-holder
{
  width: 96%;
  margin:0 2%;
  height: 40px;
  color: #999;
  font: normal 16px/40px \5FAE\8F6F\96C5\9ED1; }
  .h5-pub-article .pa-title .article-input{ _display:blcok; }

.h5-pub-article {
  padding: 20px; }
  .h5-pub-article .pa-title {
    border: 1px solid #ccc;
    background-color: #fff; }
  .h5-pub-article .pa-des {
    padding: 0 10px;
    border: solid #ccc;
    border-width: 0 1px 0;
    background-color: #fff; }
    .h5-pub-article .pa-des textarea {
      height: 90px;
      line-height: 25px;
      border: 0px solid #fff;
      margin: 0 auto;
      width: 99%;
      display: block;
      _width: 99%; }
  .h5-pub-article .list-ctrl {
    padding: 10px 0\9;
    _padding: 10px 0;
    /*margin-left: -8px;*/
    overflow: hidden; }
  .h5-pub-article .imgs-list {
    background-color: #fff;
    border: solid #ccc;
    border-width: 0 1px 1px; }
    .h5-pub-article .imgs-list a {
      width: 50px;
      height: 50px;
      margin-left: 8px;
      _margin-left: 7px;
      margin-bottom: 0\9; }
      .h5-pub-article .imgs-list a:nth-child(6) {
        margin-left: 8px; }
      .h5-pub-article .imgs-list a:nth-child(1) {
        margin-left: 8px; }
    .h5-pub-article .imgs-list .h5-add, .h5-pub-article .imgs-list .h5-del {
      width: 50px;
      height: 50px;
      border: none;
      background: url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/upload-add-img.png) no-repeat 0 0; }
      .h5-pub-article .imgs-list .h5-add:before, .h5-pub-article .imgs-list .h5-add:after, .h5-pub-article .imgs-list .h5-del:before, .h5-pub-article .imgs-list .h5-del:after {
        display: none\9;
        content: '';
        position: absolute;
        z-index: 101;
        width: 25px;
        height: 25px;
        border: solid #dfdfdf;
        border-width: 0 4px 0 0;
        margin: -27px 0 0 -12px;
        top: 50%;
        left: 50%;
        background: none; }
      .h5-pub-article .imgs-list .h5-add:before, .h5-pub-article .imgs-list .h5-del:before {
        margin: -13px 0 0 -27px; }
      .h5-pub-article .imgs-list .h5-add:after, .h5-pub-article .imgs-list .h5-del:after {
        border-width: 0 0 4px 0; }
    .h5-pub-article .imgs-list .h5-add input {
      filter: alpha(opacity=0);
      opacity: 0; }
    .h5-pub-article .imgs-list .h5-del {
      background-position: -58px 0; }
      .h5-pub-article .imgs-list .h5-del:before {
        content: none !important; }

.h5-article-view {
  font-family: \5FAE\8F6F\96C5\9ED1; }
  .h5-article-view .view-block {
    padding: 20px; }
    .h5-article-view .view-block.scroll-show {
      padding: 20px 12px 20px 20px; }
  .h5-article-view .art-view p {
    font: normal 14px/25px \5FAE\8F6F\96C5\9ED1;
    word-wrap: break-word;
    color: #333; }
    .h5-article-view .art-view p.title {
      padding-bottom: 10px;
      font-size: 18px;
      color: #000; }
  .h5-article-view .art-view .img-list {
    padding: 15px 0 10px; }
    .h5-article-view .art-view .img-list a {
      width: 190px;
      height: 190px;
      margin: 0 5px 5px 0;
      background: #000;
      overflow: hidden;
      float: left;
      position: relative;
      display: block;
      _display: inline-block; }
      .h5-article-view .art-view .img-list a:nth-child(3), .h5-article-view .art-view .img-list a:nth-child(6), .h5-article-view .art-view .img-list a:nth-child(9) {
        margin-right: 0; }
    .h5-article-view .art-view .img-list img {
      display: block; }
  .h5-article-view .art-time {
    padding: 5px 0 15px;
    color: #666; }
  .h5-article-view .art-num {
    padding: 10px 0 5px;
    border-top: 1px solid #e0e0e0;
    font-size: 14px;
    color: #666; }
  .h5-article-view .art-list {
    max-height: 400px;
    _height: 400px;
    overflow-y: scroll; }
    .h5-article-view .art-list::-webkit-scrollbar {
      width: 8px;
      background: #e5e5e5; }
    .h5-article-view .art-list::-webkit-scrollbar-thumb {
      background: #b2b2b2;
      border-radius: 15px; }
    .h5-article-view .art-list .art-ct {
      border-top: 1px solid #e0e0e0;
      margin-top: -1px;
      padding: 10px 0;
      display: block; }
      .h5-article-view .art-list .art-ct:nth-child(1) {
        border-top: none; }
    .h5-article-view .art-list .art-l {
      width: 50px;
      float: left; }
    .h5-article-view .art-list .art-r {
      margin-left: 50px;
      padding-right: 15px;
      line-height: 22px; }
    .h5-article-view .art-list .h1 {
      color: #000;
      font-size: 16px;
      font-family: \5FAE\8F6F\96C5\9ED1;
      word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .h5-article-view .art-list .h2 {
      color: #666;
      font-size: 14px;
      font-family: \5FAE\8F6F\96C5\9ED1; }
    .h5-article-view .art-list .time {
      color: #999;
      font: normal 12px/25px \5FAE\8F6F\96C5\9ED1;
      float: right; }
    .h5-article-view .art-list .img {
      width: 36px;
      height: 36px;
      display: block;
      border: 2px solid #fff;
      border-radius: 100%;
      overflow: hidden; }
    .h5-article-view .art-list .img-list {
      padding: 15px 0 15px; }
      .h5-article-view .art-list .img-list > a {
        width: 90px;
        height: 90px;
        margin: 0 5px 5px 0;
        background: #000;
        overflow: hidden;
        float: left;
        position: relative;
        display: block; }
      .h5-article-view .art-list .img-list img {
        display: block; }
  .h5-article-view .cmt-block {
    padding: 15px 20px; }
    .h5-article-view .cmt-block textarea {
      width: 100%;
      height: 96px;
      padding: 5px 0;
      border: 1px solid #ccc; }
  .h5-article-view .cmt-menu {
    padding-top: 5px; }

.h5-complain {
  padding: 30px 45px; }
  .h5-complain .complain-des {
    font-size: 18px;
    line-height: 30px; }
  .h5-complain .complain-layer {
    margin: -10px 0 0 -10px;
    overflow: hidden; }
  .h5-complain .complain-block a {
    width: 170px;
    height: 86px;
    color: #fff;
    font-size: 22px;
    line-height: 86px;
    text-align: center;
    background: #f76600;
    margin: 10px 0 0 10px;
    _margin: 10px 0 0 7px;
    float: left;
    display: block;
    overflow: hidden; }
    .h5-complain .complain-block a:active, .h5-complain .complain-block a:hover {
      background-color: #cc0000; }
  .h5-complain .complain-block .current {
    background: #cc0000 url(http://static9.pplive.cn/pub/flagment/v_20140429113951/modules/liaoliao/images/ll-select.png) no-repeat 140px 60px;
    position: relative; }
    .h5-complain .complain-block .current:before {
      display: none\9;
      content: '';
      width: 20px;
      height: 8px;
      border: solid #fff;
      border-width: 0 0 4px 4px;
      position: absolute;
      bottom: 12px;
      right: 5px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .h5-complain .complain-text {
    padding-top: 10px; }
    .h5-complain .complain-text textarea {
      width: 518px;
      height: 60px;
      padding: 5px;
      border: 1px solid #d3d3d3; }
  .h5-complain .complain-btn {
    padding-top: 10px;
    text-align: center; }
    .h5-complain .complain-btn .current {
      margin-left: 20px;
      background: #0066ff; }
    .h5-complain .complain-btn a {
      width: 140px;
      height: 50px;
      line-height: 50px;
      color: #fff;
      background: #333;
      border-radius: 4px;
      font-size: 16px;
      display: inline-block; }
      .h5-complain .complain-btn a:nth-child(1) {
        margin-right: 20px; }
      .h5-complain .complain-btn a:nth-child(2) {
        background: #0066ff; }

.h5-pop-mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }

.chat-module-guess .guess-launch {
  color: #fff;
  padding: 0 18px; }
  .chat-module-guess .guess-launch > div {
    padding-top: 20px; }
    .chat-module-guess .guess-launch > div > p {
      font: normal 14px/25px \5FAE\8F6F\96C5\9ED1; }
  .chat-module-guess .guess-launch select {
    width: 100%;
    height: 30px;
    border-radius: 4px; }
    .chat-module-guess .guess-launch select > option {
      text-align: center; }
.chat-module-guess .guess-launch-recharge .balance {
  text-align: right;
  font-size: 12px; }
  .chat-module-guess .guess-launch-recharge .balance strong {
    font-size: 14px;
    line-height: 30px;
    color: #f76600; }
.chat-module-guess .guess-launch-recharge input[type=text], .chat-module-guess .guess-launch-recharge input[type=number] {
  width: 70%;
  height: 30px;
  padding: 0 3%;
  border-radius: 4px;
  float: left; }
.chat-module-guess .guess-launch-recharge a {
  width: 22%;
  height: 30px;
  margin-left: 78%;
  border-radius: 4px;
  text-align: center;
  font: normal 14px/30px \5FAE\8F6F\96C5\9ED1;
  background-color: #f76600;
  color: #fff;
  display: block; }
